h1{
  text-align: center;
  color: blue;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  word-spacing: 2px;
}

/* git  status
git log
git commit - змінити файл
git add - додати файл
git diff - подивитись що ми зробили
*/